.App {
  text-align: center;
}
.app{
  background-color: rgb(151, 147, 147);
  z-index: -999;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}

/* Styles for smaller screens (mobile) */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
