:root{
    --shadow-color-popup-msg-1: rgba(244, 216, 216, 0.5);
    --shadow-color-popup-msg-2: rgba(248, 101, 101, 0.7);
    --shadow-color-popup-msg-3: rgba(241, 212, 212, 0.5);
}

body, html {
    overflow: hidden;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

/* Parent container for Flexbox layout */
.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    padding: 0;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
}

.title {
    font-family: 'Arial', sans-serif;
    font-size: 0.5em;
    color: #41f426;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5%;
    right: -5%;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, #2ecc71, #3498db, #d96cf4);
    border-radius: 10px;
    opacity: 0.8;
}

.response_container {
    color: #4b4c4b;
    font-size: larger;
    width: 90%;
    height: 31rem;
    max-width: 751px;
    background-color: rgba(200, 200, 204, 0.47);
    padding: 30px;
    overflow: auto;
    font-weight: 900;
    margin: 20px 0;
    position: absolute;
    top:1px;
}

.input-portion {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    position: absolute;
    bottom: 8px;
}

#prompt_inputs {
    width: 100%;
    /*max-width: 800px;*/
    height: 2.5rem;
    border-color: #e1e1e1;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    font-size: medium;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 500;
    /*margin-right: 10px;*/
    resize: none;
    box-sizing: border-box;
}
#prompt_inputs:focus {
    border-color: #979393;
    outline: none;
}
#prompt_inputs::placeholder {
    color: #717171;
}
.dark #prompt_inputs::placeholder {
    color: #ececec;
}
.dark #prompt_inputs {
    background-color: #888888;
}

.sent_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_header {
    color: #090909;
}

.horizontal-line {
    border-bottom: 2px solid #a39e9e;
    margin-top: 10px;
    margin-bottom: 10px;
}


.response-title {
    color: #48ff1e;
}

.center {
    align-content: center;
    justify-content: center;
    display: flex;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .input-portion {
        width: 95%;
    }

    #prompt_inputs {
        height: 6rem;
        font-size: medium;
        padding-right: 50px;
    }

    .sent_button {
        right: 15px;
        bottom: 10px;
    }
    .title {
        font-size: 0.5em;
    }
    .title-mobile {
        font-size: 2rem;
    }
}

/* Media query for tablets and small laptops */
@media (min-width: 769px) and (max-width: 1024px) {

    .input-portion {
        width: 80%;
    }
    #prompt_inputs {
        height: 6.5rem;
        font-size: large;
        padding-right: 50px;
    }

    .sent_button {
        right: 15px;
        bottom: 12px;
    }
    .robot-image{
        height: 50rem !important;
    }
    .title {
        font-size: 0.7em;
    }
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

.name-of-language {
    background-color: grey;
}

@media screen and (max-device-width:640px), screen and (max-width:640px){
    #prompt_inputs {
        height:4.3em;
        font-size: 20px;
        padding-right: 50px;
    }
    #prompt_inputs::placeholder {
        font-size: 17px;
    }
    .sent_button{
        width: 2rem;
        height: 2rem;
    }
    .response_container {
        top : 50px;
        height: 37rem;
    }
    .container {
        padding: 20px;
    }
}
.signin-signup-card {
    border: 1px solid gray;
}
.signin-signup-card:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}
@keyframes blink-shadow {
    0% {
        box-shadow: 0 0 10px 2px var(--shadow-color-popup-msg-1);
    }
    50% {
        box-shadow: 0 0 20px 4px var(--shadow-color-popup-msg-2);
    }
    100% {
        box-shadow: 0 0 10px 2px var(--shadow-color-popup-msg-3);
    }
}

.shadow-blink {
    animation: blink-shadow 1s infinite;
}
.response-code-language-name {
    background-color: #efefef ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
}
.dark .response-code-language-name {
    background-color: #252626;
    border-bottom: 1px grey solid;
}

.dark .hljs {
   background: #252626;
    color: white;
}
.dark .hljs-string {
    color: #27aa27;
}
.dark .hljs-subst {
    color: white;
}
.dark .hljs-name {
    color: #2fbaa3
}
.language-javascript .hljs::-webkit-scrollbar {
    width: 2px;
}
.response_element ol {
    list-style-type: decimal !important;
}
.response_element li {
    list-style-type: disc !important;
}