.response_container {
    width: 751px;
    max-height: 80%;
    height: 440px;
    border: 2px solid #0a008078;
    border-radius: 45px;
    background-color: rgba(10, 10, 10, 0.9);
    color: white;
    font-size: larger;
    margin-top: 1%;
    padding: 30px;
    overflow-x: auto;
    overflow-y: auto;
    font-weight: 400;
}
#prompt_inputs {
    width: 700px;
    height: 60px;
    border: 2px solid #0a008078;
    background-color:rgba(87, 100, 208, 0.9);
    border-radius: 45px;
    font-size: larger;
    color: #FFFF00;
    padding-left: 30px;
    font-family: "Lucida Console","Courier New",monospace;
    font-weight: 900;
}

.sent_button {
    background: none;
    border: none ;
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
}
.question_header {
    color: #e13535;
}
.horizontal-line {
    border-bottom: 2px dashed #0edee5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh; /* Full viewport height */
}

/* Styling the title */
.title {
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 6em; /* Adjust font size */
    color: #00ff38; /* Adjust font color */
    position: relative;
}

/* Creating a gradient border */
.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5%;
    right: -5%;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, #2ecc71, #3498db, #ffff00); /* Adjust gradient colors */
    border-radius: 10px; /* Rounded border */
    opacity: 0.8; /* Adjust opacity */
}
.input-portion input::placeholder {
    color: #a8a8a8;
}
.response-title {
    color: #48ff1e;
}
.center {
    align-content: center;
    justify-content: center;
    display: flex;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    /*border: 2px solid black;*/
}
.code-container{
    border: 2px solid rgb(104, 200, 204);
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
}